<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cajama.malaria"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.cajama.malaria.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".newreport.NewReportActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_new_report"
            android:uiOptions="splitActionBarWhenNarrow" >
        </activity>
        <activity
            android:name=".newreport.FullscreenPhotoActivity"
            android:label="@string/title_activity_fullscreen_photo" >
        </activity>
        <activity
            android:name=".entryLogs.QueueLogActivity"
            android:label="@string/title_activity_queue_log" >
        </activity>
        <activity
            android:name=".entryLogs.SentLogActivity"
            android:label="@string/title_activity_sent_log" >
        </activity>
    </application>

</manifest>
